/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* NAVBAR */


header nav {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

header nav ul {
  margin-left: 40%;
}

header nav ul li {
  float: left;
  list-style: none;
  margin-right: 5%;
}

header nav ul li a {
  color: rgb(13, 13, 37);
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ff8800;
}

/************** MAIN SECTION ***************/

main {
  background: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80") 0% 50% no-repeat;
  background-size: cover;
  float: left;
  width: 100%;
  margin: 0 auto;
}


header + section h1 {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  color: rgb(13, 13, 37);
  padding: 3% 5% 1.5% 5%;
  font-weight: 700;
}

header+section h1 span {
  display: flex;
  flex-direction: column;
}

/* search  */

form {
  display: block;
  float: left;
  /* width: 100%; */
  padding: 0 0 2% 5%;
}

form input {
  float: left;
  /* display: flex; */
  width: 10%;
  padding: 15px 150px;
  border: 1px solid lightgray;
  border-radius: 5px 0px 0px 5px;
}

form a {
  float: left;
  background: rgb(255, 136, 0);
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  border-radius: 0px 5px 5px 0px;
}

form a:hover {
  background: #ffa43c;
}

/* input, input + a {
  box-shadow: 10px 5px 5px rgb(131, 131, 131);
} */

/* stuff */

/* header + section  img {
  float: left; 
  padding: 2% 1%;
}

header+section span {
  float: left;
}

header+section span:last-child {
  padding-bottom: 15px;
} */

header+section > section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 0 4.5% 5.2%;
}

header+section>section span {
  width: 40px;
  padding-left: 5px;
  padding-right: 50px;
}

/* header+section img:first-child {
  display: block;
  margin-left: 5%;
} */

/* header + section img {
  width: 30px;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* second section  */

div {
  background: url("https://images.unsplash.com/photo-1611249021021-21220638532e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") 932px 0 no-repeat;
  background-size: 50%;
}

main + div {
  padding-left: 30%;
  padding-top: 4%;
  padding-right: 35%;
  padding-bottom: 7%;
}

div > span {
  color: #ff8800;
  font-weight: 700;
}

p > span {
  display: block;
  padding-top: 4%;
}

main + div h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 1%;
  padding-bottom: 5%;
}

div > p {
  line-height: 33px;
  padding-bottom: 5%;
}

div > a {
  float: left;
  background: rgb(255, 136, 0);
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  border-radius: 5px;
}

div > a:hover {
  background: #ffa43c;
}

/* third section  */

div + section {
  background: #eebb8b;
  /* float: left; */
  padding: 5%;
  /* width: 100%; */
  /* padding-left: 30%;  */
}

div + section h1 {
  font-size: 4rem;
}

div + section li {
  display: inline;
}

section li a {
  text-decoration: none;
  color: #50516f;
}

section > span {
  width: 20%;
  text-align: center;
  color: #ff8800;
  font-weight: 700;
}

div + section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div + section ol {
  padding: 22px;
}

div + section li a {
  margin-left: 11px;
  padding: 14px;
  border-bottom: 1px solid #50516f;
}

main + div + section li a:hover {
  color: #ff8800;
  border-bottom: 1px solid #ff8800;
}

div+section span {
  padding: 11px;
}

div + section section {
  padding-top: 22px;
}

div+section section img {
  margin-left: 11px;
}

.icon {
  padding-top: 1.5%;
  padding-left: 10px;
  font-size: 0.8rem;
}

.circle {
  color: #9d7454;
  padding: 5px;
}

.circle:hover {
  color: #ff8800;
  font-size: 1.2rem;
  padding: 0 2.1px;
  vertical-align: middle;
}